<div class="container" class="text-center" @fade>
    <form #addUserForm="ngForm" (ngSubmit)="postData()" [formGroup]="addUserFormGroup">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>E-mail</mat-label>
                <input required matInput type="email" name="email" formControlName="emailAdress"/>
                <mat-icon *ngIf="emailAdress?.invalid" matSuffix>check_circle</mat-icon>    
            </mat-form-field>
        </div>
        <div *ngIf="emailAdress?.touched" class="error-message">
            Invalid email. Use youre.name@student.vives.be
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Voornaam</mat-label>
                <input  matInput required type="text" name="firstName" formControlName="firstName">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Achternaam</mat-label>
                <input  matInput required type="text" name="lastName" formControlName="lastName">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>r-Nummer</mat-label>
                <input  matInput required type="text" name="rnummer" formControlName="rnummer">
            </mat-form-field>
        </div>
        <div class="pull-right">
            <button type="submit" [disabled]="addUserForm.invalid" mat-stroked-button color="accent">Save</button>
            <button mat-stroked-button color="accent">Cancel</button>
        </div>
    </form>
    <div class="m-3">
        <button mat-fab (click)="goBack()">Go Back</button>
    </div>
</div>


